# Compiled source # 
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Backup and temporary files #
###############################
*~
*.bak
*.swp
*.tmp

# Visual Studio Code #
######################
.vscode/

# Visual Studio Project Files #
###############################
*.user
*.suo
*.cache
*.ide
*.dll
*.exe
*.pdb
*.opendb
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.bak
*.ncb
*.aps
*.ipch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.mex*
*.lib
*.sbr
*.sdf
*.opensdf
*.scc
*.tlog
*.pdb
*.idb
*.pch
*.res
*.obj
*.bsc
*.ilk
*.exp
*.user
*.aps
*.vshost.*
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.mex*
*.lib
*.sbr
*.sdf
*.opensdf
*.scc
*.tlog
*.scc
*.tlog
*.lastbuildstate
*.user
*.log
*.cache
*.log
*.backup*
*.cache
*.vspscc
*.vssscc
*.builds
*.pidb
*.svclog
*.scc
*.gpState
*_p.c
*.gpState
*.generated.cs

# NuGet Packages #
###################
## TODO: If you have NuGet Package Restore enabled, uncomment the next line
#packages/

# User-specific files #
#######################
*.suo
*.user
*.userossc
*.sln.docstates

# Build results #
#################
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core #
############
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio 2015/2017/2019 cache/options directory #
#######################################################
.vs/

